@font-face {
  font-family: 'icons-font';
  src:  url('../fonts/icons-font.eot?lnilik');
  src:  url('../fonts/icons-font.eot?lnilik#iefix') format('embedded-opentype'),
    url('../fonts/icons-font.ttf?lnilik') format('truetype'),
    url('../fonts/icons-font.woff?lnilik') format('woff'),
    url('../fonts/icons-font.svg?lnilik#icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag-shopping:before {
  content: "\e90d";
}
.icon-basket:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-telegram:before {
  content: "\e907";
}
.icon-tiktok:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-vk:before {
  content: "\e90a";
}
.icon-whatsapp:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
